body {
    font-family: Arial, sans-serif;
    background: url('../images/back2.svg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.container {
    padding: 20px;
}
.date-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #4a4aff;
}
.date-item:last-child {
    border-bottom: none;
}
.date-number {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
.date-text {
    text-align: right;
}
.date-text .day {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
.date-text .month {
    font-size: 14px;
    color: #666;
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3366cc;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer i {
    color: white;
    font-size: 24px;
}

/* Nouveaux styles pour les cartes de dépenses */
#expensesList .item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: white;
}
#expensesList .item.green-border {
    border-color: green;
}
#expensesList .item.red-border {
    border-color: red;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.btn-green {
    background-color: green;
    color: white;
}
.btn-red {
    background-color: red;
    color: white;
    float: right;
    cursor: pointer;
    margin-top: -5px;
}
